.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  pointer-events: none;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heading {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
}

.postText {
  font-family: 'Open Sans', sans-serif;
}

.delete {
  font-family: 'Open Sans', sans-serif;
  background: none;
 
}

.edit {
  text-decoration: none;
}